workflow2.json
{
  "name": "Vibesfilm: /hook Callback Handler",
  "nodes": [
    {
      "id": "b2c3d4e5-0001",
      "name": "Telegram Trigger Callback",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "webhookId": "vibesfilm-hook-callback-01",
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot Vibesfilm"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002",
      "name": "Parsear Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "const cq = $input.first().json.callback_query;\n\nif (!cq || !cq.data || !cq.data.includes(':')) {\n  return [{ json: { skip: true } }];\n}\n\nconst [action, pendingId] = cq.data.split(':');\n\nreturn [{ json: {\n  action,\n  pendingId,\n  chatId: cq.message.chat.id,\n  callbackQueryId: cq.id,\n  messageId: cq.message.message_id\n}}];"
      }
    },
    {
      "id": "b2c3d4e5-0003",
      "name": "Confirmar ou Cancelar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.vibesfilm.com/api/rephrase-hook/confirm-pending/{{ $json.pendingId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: $('Parsear Callback').first().json.action }) }}"
      }
    },
    {
      "id": "b2c3d4e5-0004",
      "name": "Montar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst action = $('Parsear Callback').first().json.action;\nconst chatId = $('Parsear Callback').first().json.chatId;\nconst callbackQueryId = $('Parsear Callback').first().json.callbackQueryId;\n\nlet text;\nif (result.error) {\n  text = `⚠️ ${result.error}`;\n} else if (action === 'confirm') {\n  text = `✅ Hook de *${result.title}* atualizado com sucesso!\\n\\n_${result.updatedHook}_`;\n} else {\n  text = `❌ Operação cancelada. Nenhuma alteração salva.`;\n}\n\nreturn [{ json: { chatId, text, callbackQueryId } }];"
      }
    },
    {
      "id": "b2c3d4e5-0005",
      "name": "Responder ao Usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botSEU_TOKEN_AQUI/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text, parse_mode: 'Markdown' }) }}"
      }
    },
    {
      "id": "b2c3d4e5-0006",
      "name": "Answer Callback Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botSEU_TOKEN_AQUI/answerCallbackQuery",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $('Montar Resposta').first().json.callbackQueryId }) }}"
      }
    }
  ],
  "connections": {
    "Telegram Trigger Callback": {
      "main": [
        [
          {
            "node": "Parsear Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Callback": {
      "main": [
        [
          {
            "node": "Confirmar ou Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar ou Cancelar": {
      "main": [
        [
          {
            "node": "Montar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Resposta": {
      "main": [
        [
          {
            "node": "Responder ao Usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder ao Usuário": {
      "main": [
        [
          {
            "node": "Answer Callback Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}