workflow1.json
{
  "name": "Vibesfilm: /hook Command",
  "nodes": [
    {
      "id": "a1b2c3d4-0001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "webhookId": "vibesfilm-hook-command-01",
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot Vibesfilm"
        }
      }
    },
    {
      "id": "a1b2c3d4-0002",
      "name": "Filtrar /hook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/hook",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "name": "filter.operator.startsWith"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0003",
      "name": "Parsear Comando",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        240
      ],
      "parameters": {
        "jsCode": "const text = $input.first().json.message.text;\nconst chatId = $input.first().json.message.chat.id;\n\nconst args = text.replace(/^\\/hook\\s*/i, '').trim();\nconst yearMatch = args.match(/\\b(\\d{4})\\s*$/);\nconst year = yearMatch ? parseInt(yearMatch[1]) : null;\nconst title = yearMatch ? args.replace(yearMatch[0], '').trim() : args;\n\nreturn [{ json: { title, year, chatId } }];"
      }
    },
    {
      "id": "a1b2c3d4-0004",
      "name": "Preview Hook IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.vibesfilm.com/api/rephrase-hook/preview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $('Parsear Comando').first().json.title, year: $('Parsear Comando').first().json.year, provider: 'deepseek' }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0005",
      "name": "Montar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        240
      ],
      "parameters": {
        "jsCode": "const preview = $input.first().json;\nconst chatId = $('Parsear Comando').first().json.chatId;\n\nif (preview.error) {\n  return [{ json: { chatId, text: `❌ ${preview.error}`, pendingId: null, hasError: true } }];\n}\n\nconst oldHook = preview.oldHook || '(vazio)';\nconst text = `🎬 *${preview.title}* (${preview.year})\\n\\n🔴 *Antes:*\\n_${oldHook}_\\n\\n🟢 *Novo hook gerado:*\\n_${preview.newHook}_\\n\\nDeseja atualizar?`;\n\nreturn [{ json: { chatId, text, pendingId: preview.pendingId, hasError: false } }];"
      }
    },
    {
      "id": "a1b2c3d4-0006",
      "name": "Enviar com Botões",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botSEU_TOKEN_AQUI/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.text, parse_mode: 'Markdown', reply_markup: $json.hasError ? {} : { inline_keyboard: [[{ text: '✅ Sim, Atualizar', callback_data: 'confirm:' + $json.pendingId }, { text: '❌ Cancelar', callback_data: 'cancel:' + $json.pendingId }]] } }) }}"
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Filtrar /hook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar /hook": {
      "main": [
        [
          {
            "node": "Parsear Comando",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Parsear Comando": {
      "main": [
        [
          {
            "node": "Preview Hook IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Hook IA": {
      "main": [
        [
          {
            "node": "Montar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem": {
      "main": [
        [
          {
            "node": "Enviar com Botões",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}